{% extends 'base.html.twig' %}

{% block body %}
<div class="body">
    <div class="form-container">
        <div class="form-content">
            {{form(form)}}
        </div>
    </div>
</div>
<link rel="stylesheet" href="{{ asset('css/signup.css') }}">
<script src="{{ asset('js/signup.js') }}"></script>
{% endblock %}